.form {
  text-align: center;
  width: 80vw;
}

.form > div {
  display: flex;
  justify-content: center;
}

.form > h1 {
  margin-bottom: 1rem;
}

.form > img {
  margin-bottom: 1rem;
  width: 50px;
}

input {
  font-size: 1.6rem;
  margin-right: .5rem;
  max-width: 700px;
  padding-left: 9px;
  width: 80%;
}

button {
  background-color: #1a1a1a;
  border-radius: 8px;
  border: 1px solid transparent;
  cursor: pointer;
  font-family: inherit;
  font-size: 1em;
  font-weight: 500;
  padding: 0.6em 1.2em;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

small {
  color: gray;
  display: block;
  margin-top: .7rem;
  text-align: center;
}

.response {
  margin-top: 5rem;
  text-align: center;
  word-wrap: break-word;
  width: 80vw;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
}

body {
  align-items: center;
  display: flex;
  font-size: 1.6rem;
  justify-content: center;
  margin: 0;
  min-height: 100vh;
}
